 
 body {
    padding: .8em .5em;
    background-color: #54361c;
    font-family: 'Roboto', sans-serif;
}


#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefacd;
    border-radius: 7px;
    padding: 1em;
    
    
}

#survey-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: .85em;
}

.text-input {
    width: 100%;
}

.input-container {
    width: 100%;
    padding: 10px 0;
    
}

.btn-container label {
    display: flex;
}

#dropdown {
    width: 100%;
}

#title {
    color: #54361c;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}

.title-orange {
    color: #d5731c;
}

.title-yellow {
    color: #ffb949;
}



