 
 body {
    padding: .8em .5em;
    background-color: #54361c;
    font-family: 'Roboto', sans-serif;
    color: #54361c;
    font-size: 1.2em;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefacd;
    border-radius: 7px;
    padding: 1em;
    
    
}

#survey-form {
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #54361c;
    border-radius: 7px;
    padding: .85em;
}

.text-input {
    width: 100%;
    background-color: #fefacd;
    border: 1px solid #54361c;
    border-radius: 3px;
    height: 2.5rem;
    margin: 1em 0;
}

.input-container {
    width: 100%;
    padding: 10px 0;
    
}

.btn-container label {
    display: flex;
}

#dropdown {
    width: 100%;
}

#title {
    color: #54361c;
    font-size: 2.2em;
    font-family: 'Pacifico', cursive;
    padding: .75em 0;
    text-align: center;
}

.orange {
    color: #d5731c;
}

.yellow {
    color: #ffb949;
}

#description {
    font-size: 1.5em;
    padding-bottom: .5em;
}



